.container {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  height: 100vh;
  width: 100%;
}

.content {
  background-color: #b983ff;
  max-width: 100%;
  border-radius: 20px;
  align-self: center;
  padding: 20px;
  margin: 40px 0;
}

.primaryImage {
  max-width: 100%;
  width: 500px;
  height: auto;
  justify-content: center;
  align-items: center;
}

@media (max-width: 680px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .primaryImage {
    width: 100%;
    height: auto;
  }
}
